<div class="wrapper">
    <form id="scForm">
        <input type="button" name="fullscreen" value="fullscreen"/>
    </form>
    <div id="sckscope">
        <canvas></canvas>
    </div>
    <video width="0" height="0" autoplay></video>
    <img height="300" width="300" src="https://i1.sndcdn.com/avatars-000040472047-ck2oq7-t500x500.jpg?2aaad5e" />
    <div class="info"></div>
    feed: {{kaleidescope.feed}} image: {{kaleidescope.image}}
    <span class="ff">| Allow camera access or try: <a href="/">sckScope</a></span>
    <a href="http://joshuahoegen.com" class="outlink" target="_blank">Interactive art by Josh Hoegen.</a>
    <div class="no-support">
        It looks like your browser doesn't support <a href="https://www.google.com/search?q=audiocontext">AudioContext</a>. Try <a href="https://www.google.com/chrome">Google Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a> or view the project on <a href="https://github.com/joshhoegen/sckscope">Github</a>.
    </div>
</div>

