body {
  padding: 0;
  margin: auto;
  width: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #333;
  color: #fff;
  text-shadow: 2px 1px 6px #000;
  background-image: url(../img/bg-texture.png);
  background-image: url(../img/bg-texture.png), linear-gradient(to bottom, #333333, #252525);
  /*    animation: animatedBackground 400s linear infinite;
    -ms-animation: animatedBackground 400s linear infinite;
    -moz-animation: animatedBackground 400s linear infinite;
    -webkit-animation: animatedBackground 400s linear infinite;*/
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-ms-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-moz-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
img.logo {
  width: 30px;
  margin: 0;
  position: relative;
  display: inline-block;
  top: 6px;
}
h1 {
  margin: 10px 0 10px 0;
  display: inline-block;
}
h3 {
  margin: 0px 0px;
}
a {
  color: #008FB0;
}
.floatLeft {
  float: left;
}
#jh-page {
  width: 50%;
  margin: 0 auto;
  padding: 40px 0 0 0;
  background: linear-gradient(rgba(51, 51, 51, 0), rgba(0, 0, 0, 0.6)) no-repeat;
}
.instagram {
  position: absolute;
  top: 0px;
  text-align: center;
  z-index: -1;
}
.instagram img.mini {
  width: 10px;
}
@media (max-width: 1000px) {
  #jh-page {
    width: 62%;
  }
  ul.pages {
    width: 18%;
  }
}
#jh-header {
  position: fixed;
  text-align: center;
  background: #333;
  background-image: linear-gradient(to bottom, #333333, #252525);
  border-bottom: 1px solid #014352;
  width: 100%;
  min-height: 55px;
}
#jh-header .menu-button {
  left: 20px;
  top: 9px;
  font-size: 20px;
  position: absolute;
  border: 0px;
  padding: 6px;
}
#jh-header ul.pages {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 20%;
  text-align: left;
  list-style-type: none;
  margin: 0px;
  padding: 20px;
}
#jh-header ul.pages li {
  list-style-type: none;
  margin: 20px 0px;
  padding: 0px;
}
#jh-header ul.pages li a:link,
#jh-header ul.pages li a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  font: bold 12px/10px Arial, Helvetica;
}
#jh-header ul.pages li a:link span,
#jh-header ul.pages li a:visited span {
  font: normal 10px/10px Helvetica, Arial;
  color: #008FB0;
  width: 90%;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.aggr {
  margin: 0px;
  padding: 20px;
  list-style-type: none;
}
.aggr li {
  margin-bottom: 60px;
}
.aggr li img {
  width: 100%;
  box-shadow: 1px 5px 22px #000;
}
.aggr li iframe {
  box-shadow: 1px 5px 22px #000;
}
.aggr li h2 {
  color: #81959D;
}
@media (max-width: 720px) {
  h1 {
    display: none;
  }
  #jh-page {
    width: 100%;
  }
  #jh-page h2 {
    font-size: 1.3em;
  }
  #jh-page .aggr iframe,
  #jh-page .aggr img {
    width: 110%;
    margin-left: -5%;
  }
  #jh-header #jh-nav ul.pages {
    position: absolute;
    top: 52px;
    left: 0px;
    width: 100%;
    text-align: left;
    list-style-type: none;
    margin: 0px;
    border: 1px solid #000;
    padding: 20px 20px 20px 40px;
    background-image: linear-gradient(to left, #333333, #000000);
  }
  #jh-header img.logo {
    top: 12px;
  }
}
