<a ng-click="showMenu = !showMenu" class="menu-button"><i class="fa fa-bars"></i></a>
<div id="jh-nav">
    <ul ng-controller="pagesList" ng-show="showMenu" class="pages">
    <li ng-repeat="Page in pages.page | orderBy:orderProp"
        class="pages-listing">
      
      <a href="{{Page.url}}" target="_blank">{{Page.icon | unsafe}}{{Page.name}} <span>- {{Page.description}}</span></a>
    </li>
  </ul>
</div>
<img class="logo" src="img/jh-logo-80.png" alt="Josh Hoegen" />
<h1>Josh Hoegen &raquo; )'( &raquo; &#9835; &raquo; &hearts; &raquo;</h1>

