<!doctype html>
<html lang="en" ng-app="uscopeApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Josh Hoegen - Artist | Nerd | Musician</title>
  <link rel="stylesheet" href="dist/css/app.css">
  <script src="dist/js/app.js"></script>
</head>
<body>
  <div id="jh-header" ng-include="'./includes/header.html'"></div>
  <div id="jh-page">
    <div class="view-container">
      <div ng-view class="view-frame"></div>
    </div>
  </div>
  <div class="instagram" ng-controller="aggrList">
      <img class="mini" ng-repeat="post in aggr" ng-src="{{post.embed_url | unsafe}}" ng-if="post.type=='image'" />
  </div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-45544224-1']);
    _gaq.push(['_setDomainName', 'joshuahoegen.com']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();</script>
</body>
</html>
