.aggrRight {
  margin: 0;
  padding: 20px;
  list-style-type: none;
  position: absolute;
  right: 0;
  font-size: 10px;
}

.aggrRight li {
  margin: 0 0 6px;
}

.postLiRight a,
.postLiRight a:active,
.postLiRight a:hover,
.postLiRight a:visited {
  text-decoration: none;
  color: #888686;
}

.postLiRight a:hover {
  text-shadow: 1px 1px 2px #333;
  color: #ccc;
}

.postLiRight a span {
  margin: 6px;
}
