.aggr {
  margin: 0px;
  padding: 40px 20px 20px;
  list-style-type: none;
  min-height: 100vh;
}

.aggr li {
  margin-bottom: 60px;
  word-break: break-all;
}

.aggr li .google-img {
  margin-top: 20px;
}

.aggr li img {
  width: 100%;
  box-shadow: 1px 5px 22px #000;
}

.aggr li .fb_iframe_widget {
  position: relative;
  margin: 20px 0;
}

.aggr li .gplus-wrap {
  display: inline-block;
  top: 3px;
  position: relative;
  margin: 0 10px 0 0;
}

.aggr li .fa.fa-star {
  color: #008fb0;
  font-size: 23px;
  margin-right: 6px;
}

.aggr .text .title-container h3 {
  font: bold 23px/30px 'Open Sans', Arial, Helvetica, sans-serif;
}

.aggr .text .title-container h3.date {
  font: normal 10px/12px 'Open Sans', Arial, Helvetica, sans-serif;
}

.aggr h3 {
  display: inline;
}

.aggr h3 b {
  font-size: 23px;
  line-height: 30px;
}

.aggr .date {
  float: right;
  display: inline-block;
  color: #565454;
  font-size: 10px;
}

.aggr .title-container {
  margin-bottom: 10px;
}

.aggr .social-link {
  text-align: right;
  font-size: 10px;
  margin-top: 10px;
}

.aggr .social-link a {
  text-decoration: none;
}
