.aggr {
    margin: 0px;
    padding: 20px;
    list-style-type: none;
    li {
        margin-bottom: 60px;
        img {
            width: 100%;
            box-shadow: 1px 5px 22px #000;
        }
        .fb_iframe_widget {
            position: relative;
            margin: 20px 0;
        }
        .gplus-wrap {
            display: inline-block;
            top: 3px;
            position: relative;
            margin: 0 10px 0 0;
        }
    }
}
