.aggr {
    margin: 0px;
    padding: 20px;
    list-style-type: none;
    li {
        margin-bottom: 60px;
        img {
            width: 100%;
            box-shadow: 1px 5px 22px #000;
        }
        iframe {
            box-shadow: 1px 5px 22px #000;
        }
        h2 {
            color: #81959D;
        }
        .fb_iframe_widget {
            display: block;
            position: relative;
            margin: 20px 0;
        }
    }
}
